{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Matches{% endblock %}</h1>
{% endblock %}

{% block home %}
    <a href="{{ url_for('books.index') }}">Home</a>
{% endblock %}

{% block matches %}
    <p style="font-size: 16;">Matches</p>
{% endblock %}

{% block content %}
    <div class="matches">
        <ul>
            {% for match in matches %}
                <li>
                    <form method="POST">
                        {% if user_id < match['id'] %}
                            <button class="match_button" name="room" value="{{ user_id ~ '_' ~ match['id'] }}">
                                {{ match['username'] }}
                            </button>
                        {% else %}
                            <button class="match_button" name="room" value="{{ match['id'] ~ '_' ~ user_id }}">
                                {{ match['username'] }}
                            </button>
                        {% endif %}
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}